/* Header Title Animasyonu */
.slide-title-enter-active {
    transition: all 2s ease-out;
  }

  .slide-title-enter-from,
  .slide-title-leave-to {
    transform: translateX(-300px);
    opacity: 0;
  }
  /* Header Image Animasyonu */

  .slide-img-enter-active {
    transition: all 2s ease-out;
  }

  .slide-img-enter-from,
  .slide-img-leave-to {
    transform: translateX(300px);
    opacity: 0;
  }


/* GENERAL ANIMATION*/
.nested-enter-active .inner,
.nested-leave-active .inner {
  transition: all 0.3s ease-in-out;
}

.nested-enter-from .inner,
.nested-leave-to .inner {
  transform: translateX(30px);
  opacity: 0;
}


.cst-content-img {
    border-radius: 3px;
    max-height: 480px;
  }

  .row {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
